*{
    margin: 0px;
    padding: 0px;
}
#wrapper {
    margin: auto;
    width: 540px;
    background-color: black;
}

.row {
    height: 20;
    width: 20;
    background-color: blue;
}

.brick {
    height: 30px;
    width: 30px;
    background-color: red;
    display: inline-block;
}

.space {
    height: 30px;
    width: 30px;
    background-color: green;
    display: inline-block;
    position: relative;
}

#pacman {
    background-image: 'pacman.gif';
    position: absolute;
    height: 30px;
    width: 30px;
}