*{
    margin: 0px;
    padding: 0px;
}
#wrapper {
    margin: auto;
    width: 600px;
    height: 600px;
    background-color: black;
}

.row {
    height: 30px;
    width: 30px;
    display: inline-block;
    border: 1px solid black;
}

.brick {
    background-color: blue;
}

.space {
    background-color: black;
}

#world {
    position: relative
}

#pacman {
    background: url('pacman.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 30px;
    height: 30px;
    position: absolute;
}

.coin {
    background: url('coin2.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 30px;
    height: 30px;
    margin: 0px;
    display: inline-block;
}